{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Samvel Avagyan</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<script type="text/javascript" src="js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">
  <div class="intro text-center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            {% for i in home %}
            <h1>{{ i.name }}</h1>
            <p>{{ i.profession }}</p>
            {% endfor %}
            <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a>
            <!-- New Download CV Button -->
            <a href="/static/SamvelAvagyan.pdf.pdf" class="btn btn-default btn-lg" download>Download CV</a> <!-- Replace with your CV's path -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#page-top">Home</a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#skills">Skills</a> </li>
          <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    {% for i in About %}
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="{{ i.img.url }}" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <p>{{ i.about }}</p>
          
          <ul class="about-info mt-4 px-md-0 px-2">
            <li class="d-flex"><strong>Name:</strong><span>{{ i.name }}</span></li>
            <li class="d-flex"><strong>Date of Birth:</strong><span>{{ i.birthday }}</span></li>
            <li class="d-flex"><strong>Address:</strong><span>{{ i.address }}</span></li>
            <li class="d-flex"><strong>Email:</strong><span>{{ i.email }}</span></li>
            <li class="d-flex"><strong>Phone:</strong><span>{{ i.phone }}</span></li>
          </ul>        
    {% endfor %}  
          <a href="#portfolio" class="btn btn-primary btn-lg page-scroll">My Portfolio</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- Skills Section -->
<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Skills</h2>
      <hr>
    </div>
    <div class="row">
      {% for i in skills %}
        <div class="col-md-3 col-sm-6 skill">
          <span class="chart" data-percent="{{ i.percent }}">
            <span class="percent">{{ i.percent }}%</span>
          </span>
          <h4>{{ i.names }}</h4>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div id="page-1" class="page one">
      <h2 class="heading">Education</h2>
      {% for i in education %}
      <div class="resume-wrap d-flex ftco-animate">
          <div class="icon d-flex align-items-center justify-content-center">
              <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png" alt="Education Icon" class="icon-img">
          </div>
          <div class="text pl-3">
              <span class="date">{{ i.start_year }} - {{ i.end_year }}</span>
              <h2>{{ i.degree_univer }}</h2>
              <span class="position">{{ i.faculty }}</span>
              <p>{{ i.description }}</p>
          </div>
      </div>
      {% endfor %}
  </div>

  <div id="page-2" class="page two">
    <h2 class="heading">Experience</h2>
    {% for i in experiences %}
    <div class="resume-wrap d-flex ftco-animate">
        <div class="icon d-flex align-items-center justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/512/942/942748.png" alt="Experience Icon" class="icon-img">
        </div>
        <div class="text pl-3">
            <span class="date">{{ i.start_year }} - {{ i.end_year }}</span>
            <h2>{{ i.experience }}</h2>
            <span class="position">{{ i.univer }}</span>
            <p>{{ i.description }}</p>
        </div>
    </div>
    {% endfor %}
  </div>


</div>
<!-- Achievements Section -->


<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>Get In Touch</h2>
        <hr>
      </div>
     
      <div class="col-md-8 col-md-offset-2">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text"  class="form-control" placeholder="Name" name="name"  required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email"  class="form-control" placeholder="Email" name="email"  required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>  
          <div class="form-group">
            <textarea name="message"  class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
        {% for i in footer %}
        <div class="social">
          <ul class="social">
            <li><a class="btn btn-outline-light btn-social" href="{{ i.facebook }}" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a class="btn btn-outline-light btn-social" href="{{ i.github }}" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
            <li><a class="btn btn-outline-light btn-social" href="{{ i.instagram }}" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a class="btn btn-outline-light btn-social" href="{{ i.linkedin }}" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
        </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; 2025 Samvel Avagyan.</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/easypiechart.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.counterup.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/waypoints.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<!-- <script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script>  -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>